ion-title{
    text-align: center;
    font-weight: bolder;
    color: #000000;
  }
  ion-toolbar{
    background-color: #ff0000 !important;
  }
  
  ion-content{
    --ion-background-color:#A5F1E9;
  }
  ion-toolbar{
    --ion-toolbar-background:#FFF6BF;
  }